@tailwind base;
@tailwind components;
@tailwind utilities;

.milkdown {
    @apply px-2 rounded;
}

.prose {
    max-width: 100%;
}

.milkdown .editor h1 {
    @apply my-4 text-5xl font-bold;
}

.milkdown .editor h2 {
    @apply my-4 text-3xl font-bold;
}

.milkdown .editor h3 {
    @apply my-4 text-2xl font-bold;
}

.milkdown .editor h4 {
    @apply my-4 text-xl font-bold;
}

.milkdown .editor h5 {
    @apply my-4 text-lg font-bold;
}

.milkdown .editor h6 {
    @apply my-4 text-base font-bold;
}

.milkdown .editor p {
    @apply my-0.5;
}

.milkdown .editor ul {
    @apply my-0;
}

.milkdown .editor ol {
    @apply my-0;
}

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
    position: relative;
    border-left: 2px solid black;
    padding-left: 0.2em;
}
/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
    position: absolute;
    top: -2em;
    left: 0;
    background: white;
    border: 1px solid black;
    padding: 0.2em 0.5em;
    
    border-radius: 0.2em;
    pointer-events: none;

    @apply text-base;
}
  
  